// here we define a SASS variable ($easy-button-background-color) that derives its value
// from a theme variable ($button-default-background-color). This means that the default
// color of an easy button will match the default button color of the application's theme
// (app.theme) if ext-easy-button is built as a standalone package, then its package.theme
// property will determine the theme that is used.
$passwordpeeker-trigger-background-image: 'PasswordPeeker/images/form/password-trigger.png';
$passwordpeeker-trigger-height: 22px !default;
$passwordpeeker-trigger-background-position-over: -22px;
$passwordpeeker-trigger-background-position-click: -44px;
//$test: $prefix !default;