$passwordpeeker-trigger-background-image: 'PasswordPeeker/images/form/password-trigger.png';
$passwordpeeker-trigger-height: 22px !default;
$passwordpeeker-trigger-background-position-over: -22px;
$passwordpeeker-trigger-background-position-click: -44px;