@mixin passwordpeeker(
    $ui: 'passwordpeeker',
	$passwordpeeker-trigger-height: $passwordpeeker-trigger-height,
	$passwordpeeker-trigger-background-image: $passwordpeeker-trigger-background-image,
	$passwordpeeker-trigger-background-position-over: $passwordpeeker-trigger-background-position-over,
	$passwordpeeker-trigger-background-position-click: $passwordpeeker-trigger-background-position-click	
) {
	.x-form-passwordpeekertrigger {
		height: $passwordpeeker-trigger-height;
		background-image: url(#{$passwordpeeker-trigger-background-image});
		background-position: 0 0;
	}

	.x-form-passwordpeekertrigger-over {
		background-position: $passwordpeeker-trigger-background-position-over 0;
	}

	.x-form-passwordpeekertrigger-click {
		background-position: $passwordpeeker-trigger-background-position-click 0;
	}
	
	input[type=password]::-ms-reveal,
	input[type=password]::-ms-clear {
		display: none;
	}
}

@include passwordpeeker();